@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
h1 {
  text-align: center;
  color: #a4243b;
}
h2 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: lighter;
  margin-bottom: 40px;
}
button,
input {
  border: none;
  outline: none;
}

button {
  background: #a4243b;
  color: white;
  padding: 12px 0;
  font-size: 1.2rem;
  border-radius: 25px;
  cursor: pointer;
}

button:hover {
  background: #4b111b;
}

.nav a {
  list-style: none;
  color: rgb(253, 255, 255);
}
.container {
  width: auto;
  height: 100vh;
  background: #4b111b;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:space-between;
  position: fixed;
  bottom: 0;
  left: 0;
}
.logo-img{
  /* position: fixed;
  top: 0;
  right: 0; */
  width: 200px
}
.nav{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:space-evenly;
  border-color: #fff;
  border-style:groove;
  height: 30%;
}

nav a:link{
  text-decoration: none;
  display: inline-block;
  list-style: none;
  font-size: 1.5rem;
  padding: 0 10px;
  margin: 0 10px;
  cursor: pointer;
  position: relative;
}

.LoginPage
{
  background-color: #4b111b;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


a:visited {
  text-decoration: none;
}
a:hover, a:active { 
  color: rgb(49, 50, 56);
}

.event-container {
  width: 500px;
  height: auto;
  border-radius: 20px;
  border-style:groove;
  border-color: rgb(232, 229, 229, 0.6);
  box-shadow: 6px 6px 10px rgb(232, 229, 229);
  display: flex;
  flex-direction: row;
  align-items:stretch;
  margin-left: 20%;
  margin-top: 20px;
  
}


.event-upper img {
  height: 150px;
  width: 150px;
  /* border-radius: 50%; */
}

.event-container h2 {
  font-size: 20px;
  font-weight: 600;
}

.event-container h3 {
  font-size: 18px;
  font-weight: 500;
  color: #a4243b;

}

.event-container p {
  font-size: 14px;
  font-weight: 400;
  padding: 0 10px 0 10px;
  color: black;
}

.event-container button {
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-align: center;
  background-color: #4b111b;
  border: none;
  padding: 7px 14px;
  border-radius: 30px;
  transition: 0.2s ease-in-out;
}

.event-lower button:hover {
  background-color: #a4243b;
}

.event-time{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  

}

.signup {
  background-color: white;
  width: 100%;
  max-width: 500px;
  padding: 50px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 20px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.link {
  text-decoration: underline;
  cursor: pointer;
  color: #a4243b;
}

/*  Field */
.signup__field {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}

.signup__field:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0px;
  height: 2px;
  background: #a4243b;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s ease;
}

.signup__field:hover:before {
  width: 100%;
}

/*  Input */
.signup__input {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  padding: 20px 2px 0;
  border-bottom: 2px solid #e0e0e0;
}

/*  Label */
.signup__label {
  color: #bdbdbd;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;

  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.signup__input:focus + .signup__label,
.signup__input:valid + .signup__label {
  top: 0;
  font-size: 1rem;
  background-color: white;
}

.HomeAddEvent{
  position: fixed;
  right: 10%;
}




